.spacer {
  flex: 1 1 auto;
}
.home{
  display:flex;
  justify-content: space-around;
}
.category{
  background:#222; 
  border: none; 

  font-size:15px;
  font-weight: 400; 
  color: #ffff;
}
.category option{
  margin: 19px;
}