<mat-toolbar>
  <span>My App</span>
  <div fxLayout="row" fxShow="true" fxShow.gt-sm >
    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
  </div>
  <span class="example-spacer"></span>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <mat-slide-toggle (click)="toggleTheme()">Slide Toggle</mat-slide-toggle>
</mat-toolbar>