<mat-toolbar  fxLayout="row wrap" style="padding: 20px;">
  <span>My App</span>
  <span class="spacer"></span>
  <div fxLayout="row" fxShow="true" fxShow.gt-sm>
    <button mat-button routerLink="/dashboard">Home</button>

    <button mat-button [matMenuTriggerFor]="menu">Category</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    
  </div>
  <span class="spacer"></span>

  <button mat-icon-button class="search__icon" aria-label="search__icon">
    <mat-icon>search</mat-icon>
  </button>
  <mat-slide-toggle (click)="toggleTheme()"> </mat-slide-toggle>
</mat-toolbar>