<footer class="iq_footer_bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="iq_uni_title">
          <h4>Shivalik College<span></span></h4>
          <p>Shimla Bypass Rd, Shiniwala, P.O, Sherpur, Dehradun, Uttarakhand 248197</p>
          <ul>
            <li><span>ADMISSION </span> (+91) 701 739 4133</li>
            <li><span>TOLLFREE</span> 1800 274 8900</li>
            <li><a href="contact-us"><span>Contact Us</span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6">
                <div class="widget widget_archive">
                    <h5 class="widget-title"><span>Admissions</span></h5>
                    <ul>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/admissions">Admission Process</a>
                        </li>
                        <li>
                            <a href="https://apply.shivalikcollege.edu.in/">Apply Now</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/admissions ">Prospectus</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/placements">Placements</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/refund-policy">Fee Refund Policy</a>
                        </li>
                    </ul>
                </div>
      </div>
      <div class="col-md-2 col-sm-6">
                <div class="widget widget_archive">
                    <h5 class="widget-title"><span>Other Links</span></h5>
                    <ul>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/college-committee/student-grievance">Student Grievance Committee</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/college-committee/women-welfare">Women Welfare Committee</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/assets/extra-images/images/docs/Anti Ragging Cell.pdf">Anti-Ragging Committee</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/#">Terms &amp; Conditions</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/#">Disclaimer Text</a>
                        </li>
                        <li>
                            <a href="https://accounts.google.com/signin">Email Login</a>
                        </li>
                    </ul>
                </div>
      </div>
            <div class="col-md-2 col-sm-6">
                <div class="widget widget_archive">
                    <h5 class="widget-title"><span>About Us</span></h5>
                    <ul>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/about-us">Vision and Mission</a>
                        </li>
                        <li>
                            <a href="http://apply.shivalikcollege.edu.in/">Apply Now</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/governing-bodies">Governing Body</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/quality-policy">Quality Policy</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/quality-objectives">Quality Objectives</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/assets\extra-images\images\docs\mandatory_disclosure-sce.doc">Mandatory Disclosure</a>
                        </li>
                        <li>
                            <a href="https://www.shivalikcollege.edu.in/assets/extra-images/images/docs/EstablishedManual.pdf" target="_blank">Establishment Manual</a>
                        </li>
                    </ul>
                </div>
            </div>
      <div class="col-md-2 col-sm-6">
          <h5 class="widget-title border-none"><span>Our Social Media</span></h5>
          <ul class="iq_footer_social">
            <li>
              <a href="https://www.facebook.com/shivalikcollegeofficial" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://www.instagram.com/shivalikcollegeofficial/" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCvCZgyhognVoP84pPmN6pzw" target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/shivalik-college-of-engineering/mycompany/" target="_blank"><i class="fa fa-linkedin"></i></a>
            </li>
          </ul>

          <a href="https://www.youtube.com/watch?v=2MyGcUdZSqo" target="_blank" title="Click Here to View" style="padding-top:10px">
<img style="width:240px;" src="https://img.youtube.com/vi/2MyGcUdZSqo/1.jpg" alt="Virtual Tour"/>
             <p><b>Campus Virtual Tour</b></p>
</a>
<br/>
<span id="siteseal">
</span>
          <!-- <a href="https://www.youtube.com/watch?v=2MyGcUdZSqo" target="_blank"><iframe width="300" height="300" style="padding-top:20px;" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube.com/embed/2MyGcUdZSqo">
          </iframe></a> -->
        </div>
      </div>
    </div>

</footer>
<div class="footer_strip">
<h5><a target="_blank" href="https://www.shivalikcollege.edu.in/#">Copyrights Reserved - Shivalik-CERT</a></h5>
</div>
