<footer class="iq_footer_bg">
  <div class="container">
    <div class="row">
            <!--Widget About Start-->
      <div class="col-md-3">
        <div class="iq_uni_title">
                    <!--Widget Title Start-->
          <h4>university of <span>education</span></h4>
                    <!--Widget Title End-->
          <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
          <ul>
            <li><span>Moday - Friday</span> 08:00- 05:00</li>
            <li><span>Saturday</span> Closed</li>
            <li><span>Sunday</span> Closed</li>
          </ul>
        </div>
      </div>
      <!--Widget About End-->
            <!--Widget Archive Start-->
      <div class="col-md-3">
                <div class="widget widget_archive">
                    <!--Widget Title Start-->
                    <h5 class="widget-title"><span>Our</span> Services</h5>
                    <!--Widget Title End-->
                    <!--Social Media Start-->
                    <ul>
                        <li>
                            <a href="#">Safety & Risk Management</a>
                        </li>
                        <li>
                            <a href="#">Facilities Services</a>
                        </li>
                        <li>
                            <a href="#">University Police</a>
                        </li>
                        <li>
                            <a href="#">Campus Planning</a>
                        </li>
                        <li>
                            <a href="#">Mail Services</a>
                        </li>
                        <li>
                            <a href="#">Facilities IT</a>
                        </li>
                    </ul>
                    <!--Social Media End-->
                </div>
      </div>
            <!--Widget Archive End-->
            <!--Widget Flickr Start-->
            <div class="col-md-3 col-sm-6">
                <div class="widget widget-flickr">
                    <!-- Widget Title Start-->
                    <h5 class="widget-title"><span>Our</span> Photo</h5>
                    <!-- Widget Title End-->
                    <div class="flickr-wrap">
                        <a class="flickrbadges" href="#"><img src="assets/extra-images/flickr1.jpg" alt=""></a>
                        <a class="flickrbadges" href="#"><img src="assets/extra-images/flickr2.jpg" alt=""></a>
                        <a class="flickrbadges" href="#"><img src="assets/extra-images/flickr3.jpg" alt=""></a>
                        <a class="flickrbadges" href="#"><img src="assets/extra-images/flickr4.jpg" alt=""></a>
                        <a class="flickrbadges" href="#"><img src="assets/extra-images/flickr5.jpg" alt=""></a>
                        <a class="flickrbadges" href="#"><img src="assets/extra-images/flickr6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <!--Widget Flickr End-->
            <!--Widget News Letter Start-->
      <div class="col-md-3">
        <div class="widget iq_footer_newsletter">
                    <!--Widget Title Start-->
          <h5 class="widget-title"><span>Our</span> Newsletter</h5>
                    <!--Widget Title End-->
          <p>Lorem ipsum dolor sit amet elit, sed do eiusmod tempor incididunt ut labore et dolore .</p>
                    <form class="iq-input">
                        <input placeholder="Search ..." type="text">
                        <label class="iq-input-icon"><input type="submit"></label>
                    </form>
                    <!--Widget Title Start-->
          <h5 class="widget-title border-none"><span>Our</span> Connected</h5>
                    <!--Widget Title Start-->
          <ul class="iq_footer_social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest"></i></a>
            </li>
          </ul>
        </div>
      </div>
            <!--Widget News Letter End-->
    </div>
  </div>
</footer>
<!--Footer Wrap End-->
<!--Copy Right Start-->
<div class="footer_strip">
<h5><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></h5>
</div>