<!-- <div class="mt-5" *ngFor="let blog of blogs">
  <div class="row">
    <div class="col-12">
      <article class="blog-card">
        <div class="blog-card__background">
          <div class="card__background--wrapper">
            <div
              class="card__background--main"
              style="background-image: url({{blog.thumbnail}});"
            >
              <div class="card__background--layer"></div>
            </div>
          </div>
        </div>
        <div class="blog-card__head">
          <span class="date__box">
            <span class="date__day">11</span>
            <span class="date__month">JAN</span>
          </span>
        </div>
        <div class="blog-card__info">
          <h5 class="lead">{{ blog.title }}</h5>
          <p>
            <a href="#" class="icon-link mr-3"
              ><i class="fa fa-pencil-square-o"></i>Shivalik College</a
            >
            <a href="#" class="icon-link"
              ><i class="fa fa-comments-o"></i> 150</a
            >
          </p>

          <p [innerHtml]="blog.desc"></p>
          <a
            [routerLink]="['/blog', blog.title]"
            (click)="setLocal(blog.blogid)"
            class="btn btn--with-icon"
            ><i class="btn-icon fa fa-long-arrow-right"></i>READ MORE</a
          >
        </div>
      </article>
    </div>
  </div>
</div>
<div class="wrapper">
  <nav>
    <ul class="pager">
      <li class="pager__item pager__item--prev">
        <button class="pager__link" (click)="handlePagination('prev')"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="12"
            viewbox="0 0 8 12"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                fill="#33313C"
                d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"
              ></path>
            </g></svg
        ></button>
      </li>
      {{pageNo === 1 ? <span></span> :
      <li class="pager__item"><a class="pager__link">...</a></li>
      <li class="pager__item"><button class="pager__link" (click)="handlePagination('prev')">{{pageNo-1}}</button></li>
      }}
      <li class="pager__item active"><button class="pager__link">{{pageNo}}</button></li>
      <li class="pager__item"><button class="pager__link" (click)="handlePagination('next')">{{pageNo + 1}}</button></li>
      <li class="pager__item"><a class="pager__link">...</a></li>
      <li class="pager__item pager__item--next">
        <button class="pager__link"  (click)="handlePagination('next')"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="8"
            height="12"
            viewbox="0 0 8 12"
          >
            <g fill="none" fill-rule="evenodd">
              <path
                fill="#33313C"
                d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"
              ></path>
            </g></svg
        ></button>
      </li>
    </ul>
  </nav>
</div> -->


<div class="iq_content_wrap">
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-sx-6" *ngFor="let blog of blogs">
          <div class="blog-medium">
            <figure>
              <img src={{blog.thumbnail}} alt="blog thumbnail" class="card__background--main" style="min-height:200px;height:auto;width:inherit;max-height:200px"/>
            </figure>
            <div class="blog-medium-caption">
              <a href="#"><i class="fa fa-camera"></i></a>
              <h5 style="height:90px"><a [routerLink]="['/blog', blog.title]" (click)="setLocal(blog.blogid)" >{{ blog.title }}</a></h5>
              <ul style="height:20px">
                <li>
                  <a href="#">Aug 19, 2015</a>
                </li>
                <li>
                  <!-- <a href="#">by <span>Anna Doe</span></a> -->
                </li>
              </ul>
            <a></a>
              <p style="height:250px" [innerHtml]="blog.desc"></p>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-sm-12">
          <!--Pagination Start-->
                        <div class="iqoniq-pagination text-center">
                          <div class="wrapper">
                            <nav>
                              <ul class="pager">
                                <li class="pager__item pager__item--prev">
                                  <button class="pager__link" (click)="handlePagination('prev')"
                                    ><svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="8"
                                      height="12"
                                      viewbox="0 0 8 12"
                                    >
                                      <g fill="none" fill-rule="evenodd">
                                        <path
                                          fill="#33313C"
                                          d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"
                                        ></path>
                                      </g></svg
                                  ></button>
                                </li>
                                {{pageNo === 1 ? <span></span> :
                                <li class="pager__item"><a class="pager__link">...</a></li>
                                <li class="pager__item"><button class="pager__link" (click)="handlePagination('prev')">{{pageNo-1}}</button></li>
                                }}
                                <li class="pager__item active"><button class="pager__link">{{pageNo}}</button></li>
                                <li class="pager__item"><button class="pager__link" (click)="handlePagination('next')">{{pageNo + 1}}</button></li>
                                <li class="pager__item"><a class="pager__link">...</a></li>
                                <li class="pager__item pager__item--next">
                                  <button class="pager__link"  (click)="handlePagination('next')"
                                    ><svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      width="8"
                                      height="12"
                                      viewbox="0 0 8 12"
                                    >
                                      <g fill="none" fill-rule="evenodd">
                                        <path
                                          fill="#33313C"
                                          d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"
                                        ></path>
                                      </g></svg
                                  ></button>
                                </li>
                              </ul>
                            </nav>
                          </div>
                  </div>
                  <!--Pagination End-->
        </div>
      </div>
    </div>
    <!--BLOG Medium PAGE END-->
  </section>
</div>
<!--Iqoniq Content End-->
