<main class="main pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-6" *ngFor="let blog of blogs">
            <article class="card mb-4">
                <header class="card-header">
                  <div class="card-meta">
                    <a [routerLink]="['/blog', blog.createUrl]" (click)="setLocal(blog.blogid)"><time class="timeago" datetime="{{blog.createDate}}">{{blog.createDate}}</time></a>
                  </div>
                  <a [routerLink]="['/blog', blog.createUrl]" (click)="setLocal(blog.blogid)">
                    <h4 class="card-title">{{ blog.createTitle }}</h4>
                  </a>
                </header>
                <a [routerLink]="['/blog', blog.createUrl]" (click)="setLocal(blog.blogid)">
                  <img class="card-img" src={{blog.createImage}} alt="blog thumbnail" />
                </a>
                <div class="card-body">
                  <p [innerHtml]="blog.createShortDescription"></p>
                </div>
              </article><!-- /.card -->
            <!-- <div class="blog-medium">
              <figure>
                <img src={{blog.createImage}} alt="blog thumbnail" class="card__background--main" style="min-height:200px;height:auto;width:inherit;max-height:200px"/>
              </figure>
              <div class="blog-medium-caption">

                <h5 style="height:90px"><a [routerLink]="['/blog', blog.createUrl]" (click)="setLocal(blog.blogid)" >{{ blog.createTitle }}</a></h5>
                <ul style="height:20px">
                  <li><p style="font-size:20px">{{blog.createDate}}</p>
                  </li>


                </ul>

                <p style="height:250px" [innerHtml]="blog.createShortDescription"></p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-sidebar></app-sidebar>
      </div>
    </div>
      <div class="col-md-12 col-sm-12">
        <!--Pagination Start-->
        <div class="iqoniq-pagination text-center">
          <div class="wrapper">
            <nav>
              <ul class="pager">
                <li class="pager__item pager__item--prev">
                  <button class="pager__link" (click)="handlePagination('prev')"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="12"
                      viewbox="0 0 8 12"
                    >
                      <g fill="none" fill-rule="evenodd">
                        <path
                          fill="#33313C"
                          d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"
                        ></path>
                      </g></svg
                  ></button>
                </li>
                {{pageNo === 1 ? <span></span> :
                <li class="pager__item"><a class="pager__link">...</a></li>
                <li class="pager__item"><button class="pager__link" (click)="handlePagination('prev')">{{pageNo-1}}</button></li>
                }}
                <li class="pager__item active"><button class="pager__link">{{pageNo}}</button></li>
                <li class="pager__item"><button class="pager__link" (click)="handlePagination('next')">{{pageNo + 1}}</button></li>
                <li class="pager__item"><a class="pager__link">...</a></li>
                <li class="pager__item pager__item--next">
                  <button class="pager__link"  (click)="handlePagination('next')"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="8"
                      height="12"
                      viewbox="0 0 8 12"
                    >
                      <g fill="none" fill-rule="evenodd">
                        <path
                          fill="#33313C"
                          d="M7.41 1.41L6 0 0 6l6 6 1.41-1.41L2.83 6z"
                        ></path>
                      </g></svg
                  ></button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
                <!--Pagination End-->
      </div>
    </div>

</main>
