<div class="button-row">
  <button mat-raised-button color="primary" [matMenuTriggerFor]="categoryMenu" class="expansion-style" >
    Category Options
  </button>
</div>
<mat-menu #categoryMenu="matMenu">
  <button mat-menu-item (click)="viewCategory()">
    <mat-icon>preview</mat-icon>
    <span>View Category</span>
  </button>
  <button mat-menu-item (click)="createCategory()">
    <mat-icon>add_circle</mat-icon>
    <span>Create Category</span>
  </button>
  <button mat-menu-item (click)="viewCategoryStatistics()">
    <mat-icon>analytics</mat-icon>
    <span>View Category Statistics</span>
  </button>
</mat-menu>
