<mat-accordion>
  <mat-expansion-panel class="expansion-style" >
    <mat-expansion-panel-header>
      <mat-panel-title>
        Categories
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-card (click)="viewCategory()">View Category</mat-card><mat-divider></mat-divider>
    <mat-card (click)="createCategory()">Create Category</mat-card><mat-divider></mat-divider>
    <mat-card (click)="viewCategoryStatistics()">View Category Statistics</mat-card><mat-divider></mat-divider>
  </mat-expansion-panel>
</mat-accordion>
