  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .content{
      margin-bottom:12px ;
  }
  .content img{
      padding:12px ;
      background-size: cover;
  }
  .content .data{
      margin-left:10px ;
  }

  mat-card-actions{
      font-size: 10px;
  }

.card {
    margin: 0.6rem 0;
}