<div class="iq_ui_element">
    <div class="navigation-wrapper2 pull-right"style="height: 40px;padding-top: 0px;padding-bottom: 0px;">
      <div class="pull-right2 pull-right3">
        <ul>
          <li><a class="iq_link_1" href="#">APPLY NOW</a></li>
        </ul>
      </div>
        <div class="navigation pull-right">
          <ul>

            <li><a class="white-color" style="font-size:14px;">QUICK LINKS</a>
            <ul class="children">
              <li><a href="#">Pay Fees</a></li>
              <li><a href="#">N.A.A.C.</a></li>
              <li><a href="#">I.Q.A.C.</a></li>
              <li><a href="#">AICTE Mandatory Disclosure</a></li>
              <li><a href="#">Grieveance Redressal</a></li>
              <li><a href="#">Jobs</a></li>
              <li><a href="#">ALUMNI CONNECT</a></li>
              <li><a href="#">ERP LOGIN</a></li>
              <li><a href="news-events">News And Events</a></li>
              <li><a href="contact-us">CONTACT US</a></li>
            </ul></li>
          </ul>
        </div>
  </div>
  </div>
<div class="iq_wrapper">
    <app-header></app-header>
    <router-outlet></router-outlet>
</div>
<app-footer></app-footer>