<aside class="sidebar sidebar-sticky">
  <div class="aside-bar">
    <div class="card-body">
      <h4 class="card-title">Other Categories</h4>
      <ul>
        <li *ngFor="let item of categories">
          <a [routerLink]="['/category', item.categoryid]">{{item.name}}</a><span></span>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h4 class="card-title">Latest Blogs</h4>
      <div *ngFor="let blog of recentBlogs">
        <a href="/blog/{{blog.createUrl}}" class="d-inline-block mt-3">
          <h4 class="h6">{{blog.createTitle}}</h4>
          <img class="card-img" src={{blog.createImage}} alt="">
        </a>
        <time class="timeago" datetime={{blog.createDate}}>{{blog.createDate}}</time>
      </div>
    </div>
  </div>
</aside>
