<div>
    <div class="sidebar-heading mt-3">
      <h2>Recent Posts</h2>
    </div>
    <div class="card mb-3 mt-3" *ngFor="let blog of recentBlogs">
        <div class="row">
          <div class="col-md-4">
            <img
              src={{blog.thumbnail}}
              alt="---"
              class="img-fluid"
            />
          </div>
          <div class="col-md-8">
            <div>
                 <p class="card-text pt-2 pr-1">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
              <p class="card-text pr-1">
                {{blog.title}}
              </p>
             
              <a class="btn btn-outline-warning">Read</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  <div class="sidebar-item categories mt-2 mb-2">
    <div class="sidebar-heading">
      <h2>Categories</h2>
    </div>
    <div class="card pt-3">
      <ul *ngFor="let category of categories">
        <li class="btn-link" (click)="handleCategory(category.categoryid)">{{category.name}}</li>
      </ul>
    </div>
  </div>