<main class="main pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <article class="card mb-4">
            <header class="card-header text-center">
              <div class="card-meta">
                <time class="timeago"  timeago-id="1">{{blog[0].createDate}}</time>
              </div>
              <a href="post-image.html">
                <h1 class="card-title">{{blog[0].createTitle}}</h1>
              </a>
            </header>
              <img class="card-img" src={{blog[0].createImage}} alt="">

            <div class="card-body">
              <div innerHTML={{blog[0].createBody}}>

              </div>
              <hr>
              <h3>0 comments</h3>
              

              <div class="mt-5">
                <h5>Write a response</h5>
                <div class="row">
                  <div class="col-md-6">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Your name">
                  </div>
                  <div class="col-md-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email">
                  </div>
                </div>
                <textarea class="form-control mt-3" rows="3" placeholder="Write a response.."></textarea>
                <a href="#" class="btn btn-success mt-3">Publish</a>
              </div>

            </div>
          </article>
      </div>
      <div class="col-md-3 ml-auto">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</main>
<!-- <div class="iner_banner">
  <div class="container">
    <h5>{{blog[0].createTitle}}</h5>
    <div class="banner_iner_capstion">
    </div>
  </div>
</div>

<div class="iq_content_wrap">
  <section>
    <div class="blog1_detail">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="blog_detail_page">
              <figure>
                <img src="{{blog[0].createImage}}" width="800px" height="800px" alt="">
              </figure>
              <ul class="blog_detail_navi">
                <li>
                  <a href="#">{{blog[0].createDate}}</a>
                </li>
              </ul>



              <div class="blog_quotes_prgh"><br/>
                <p innerHTML={{blog[0].createBody}}></p>


              </div>
            </div>
            <div class="tags_wrap">
              <ul class="iq-tags">
                <li><a href="#">Shivalik College</a></li>
              </ul>
              <ul class="iq_footer_social">
                <li><a href="https://www.facebook.com/shivalikcollegeofficial" class="fa fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/shivalikcollegeofficial/" class="fa fa-instagram"></a></li>
                <li><a href="https://www.youtube.com/channel/UCvCZgyhognVoP84pPmN6pzw" class="fa fa-youtube"></a></li>
              </ul>
            </div>
            <div class="blog_commenting">
              <div class="detail_searh_heading commenting">
                <div class="iq_heading_1 text-left">
                  <h4>Comment : <span>0</span></h4>
                </div>
              </div>
              <ul class="blog_commenting_area">

              </ul>
            </div>
            <div class="blog_detail_searh">
              <div class="detail_searh_heading">
                <div class="iq_heading_1 text-left">
                  <h4>Leave A <span>Comment</span></h4>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="iq-input">
                    <input type="text" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="iq-input">
                    <input type="text" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="iq-input">
                    <textarea placeholder="Message"></textarea>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <input class="iq_link_1" type="submit" value="submit">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </div>
  </section>
</div> -->
