<div class="container-fluid">
    <div class="row main-content bg-success text-center">
        <div class="col-md-4 text-center company__info">
            <span class="company__logo"><h2><span class="fa fa-android"></span></h2></span>
            <h4 class="company_title">Shivalik Blogs</h4>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
            <div class="container-fluid">
                <div class="row">
                    <h1>Register</h1>
                </div>
                <div class="row">
                    <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form-group">
                        <div class="row">
                            <input type="text" name="username" id="username" class="form__input" formControlName="username" placeholder="Username *">
                        </div>
                        <div class="row">
                            <input type="email" name="email_address" id="email_address" class="form__input" formControlName="email" placeholder="Email Address *">
                        </div>
                        <div class="row">
                            <input type="password" name="Password" id="Password" class="form__input" formControlName="password" placeholder="Password *">
                        </div>
                        <div class="row">
                            <input type="password" name="confirm_password" id="confirm_password" class="form__input" formControlName="confirm_password" placeholder="confirm Password *">
                        </div>
                        <div class="row">
                            <input type="submit" (click)="submit()" value="Submit" class="btn">
                        </div>
                    </form>
                </div>
                <div class="row">
            
                <p>Already have an account? <a href="#" type="button" [routerLink]="['/login']">Login</a></p>
                    </div>
                </div>
        </div>
    </div>
</div>